<header>
    <div class="header-logo"></div>
    {{#if user}}
    <div class="user-info">
        <p>Bienvenido, {{user.email}}</p>
        <a class="btn btn-warning btn-sm" href="/profile">Mi perfil</a>
        <a class="btn btn-danger btn-sm" href="/logout">Cerrar sesión</a>
    </div>
    {{/if}}
    <div class="content-column">
        <div class="header-top">
            <h1>Catálogo Natural</h1>
        </div>

        {{#if categories}}
        <div class="category-buttons">
            {{#each categories}}
            <a class="btn btn-warning" href="#{{this}}" {{#if (eq ../category this)}}style="font-weight: bold;" {{/if}}>
                {{this}}
            </a>
            {{/each}}
            <a class="btn btn-danger" href="/admin">Administración</a>
        </div>
        {{/if}}
    </div>
</header>

<main>
    {{#if products.length}}
    {{#each categories}}
    <section id="{{this}}">
        <h2>{{this}}</h2>
        <div class="productos">
            {{#each ../products}}
            {{#if (eq this.category ../this)}}
            <div class="producto">
                <img src="{{this.image}}" alt="{{this.image}}">
                <h3>{{this.name}}</h3>
                <p class="description">{{this.description}}</p>
                <p class="precio">
                    <span class="original">{{clp this.price}}</span>
                    <span class="oferta">{{clp this.offer}}</span>
                </p>
                <a href="https://wa.me/56986180837?text=Hola,%20me%20interesa%20el%20producto:%20{{this.name}}."
                    class="boton">
                    Consultar por WhatsApp
                    <img src="/img/WhatsApp.svg" alt="wsp">
                </a>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </section>
    {{/each}}
    {{else}}
    <p>No hay productos para mostrar.</p>
    {{/if}}
</main>

<a class="boton-wsp"
    href="https://wa.me/56986180837?text=Hola,%20me%20interesa%20un%20producto%20del%20catálogo.">Contáctanos
    por WhatsApp <img src="/img/WhatsApp.svg" alt="wsp" srcset=""></a>


{{!-- <main>
    <section>
        <h2>
            {{#if category}}
            Categoria: {{category}}
            {{else}}
            Todos los Productos
            {{/if}}
        </h2>

        {{#if products.length}}

        {{#each products}}
        <div class="producto">
            <img src={{this.image}} alt="imagen: {{this.name}}">
            <h3>{{this.name}}</h3>
            <p>{{this.description}}</p>
            <p class="precio"><span class="original">${{this.price}}</span> <span class="oferta">${{this.offer}}</span>
            </p>
            <a href="https://wa.me/56900000000?text=Hola,%20me%20interesa%20este%20producto:%20{{this.name}}."
                class="boton">Consultar
                por
                WhatsApp</a>
        </div>
        {{/each}}

        {{else}}
        <p>No hay productos para mostrar.</p>
        {{/if}}
    </section>


    <a class="boton-wsp"
        href="https://wa.me/56900000000?text=Hola,%20me%20interesa%20un%20producto%20del%20catálogo.">Contáctanos por
        WhatsApp</a>
</main> --}}